@import "tailwindcss";

a {
  /* biome-ignore lint: biome doesn't know tailwind */
  @apply underline dark:text-slate-200 text-slate-800;
}

@layer components {
  .cg-btn-range {
    border-radius: 4px;
    background-color: var(--color-slate-700);
    padding-inline: --spacing(2);
    padding-block: --spacing(1);
    margin: --spacing(1);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-slate-500);
      }
    }
  }
}
